@import "../base/mapas";

/*retoco el titulo de la pagina y la altura del carrousel*/
.cont-urbanos {
    display: flex;
    justify-content: center;

    .urbanos {
        text-align: center;
        border-radius: 2rem;
        border: 1px solid #fff;
        font-size: 4rem;
        color: map-get($map: $color, $key: "letrablanca");
        background-color: #000;
        padding: 1rem;
        margin: 3rem;
        box-shadow:10px 20px 10px 10px black;
    }
}

.altura {
    div {
        img {
            height: 43rem;
        }
    }
}