/*----------------Catalogo---------------*/
.contac {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    padding: 1rem;
    margin: 3rem;
}

.talleycompra {
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        input{
            padding: .8rem;
        border-radius: 3rem;
        font-size: 1.5rem;
        }
    }
    select{
        margin: 1rem;
        padding: .5rem;
    }
    
}

