/*----------------Catalogo---------------*/
.contac {
    text-align: center;
    font-size: 4rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 1rem;
    margin: 3rem;
}

.letra{
    font-size: 1.3rem;
}

